

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin: auto;
  max-width: 600px;
}


.wrap {
  padding: 0 10px;
}


.nav {

    background: rgb(87, 107, 205);
    color: white;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 20px 10px;
}



.title {
  margin-top: 90px;
  color: rgb(87, 107, 205);

}

.content {
  color: rgb(118, 118, 118);
}

.title2 {
  margin-top: 100px;
  color: rgb(87, 107, 205);

}

.foo {
  color: rgb(118, 118, 118);
}

.foo2 {
  margin-top: 30px;
  color: rgb(118, 118, 118);
}

.Q {
  margin-top: 30px;
  color : rgb(118, 118, 118);

}

.inputName {
  margin-top: 10px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px rgb(225, 224, 224);
}

.gender {
  margin-top: 10px;
  width: 300px;
  height: 45px;
  border: solid 1px rgb(225, 224, 224);
  border-radius: 5px;
}

.genderSelet {
  color: rgb(225, 224, 224);
  appearance: none;
}

.content {
  margin-top: 0.95rem;
  color: rgb(84, 84, 84);
}

.bar {
  margin-top: 10px;
  width: 580px;
  display: flex;
  justify-content: left;
  align-items: left;
}

#btn {
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* position: relative;
  left: 85%;
  max-width: 600px; */
}


.startbtn {
  margin: 50px 0 100px;
  position: relative;
  left: 85%;
  max-width: 600px;
}

.start {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: rgb(87, 107, 205);
  color: white;
  width: auto;

  border: none;
  border-radius: 4px;

}


.backbtn {
  margin: 80px 0 100px;
  position: relative;
  max-width: 600px;
}

.back {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: rgb(201, 201, 201);
  color: white;
  width: auto;

  border: none;
  border-radius: 4px;

}

.label {
  color: rgb(118, 118, 118)
}

.Q2 {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgb(118, 118, 118);
}

.number {
  color: rgb(210, 210, 210);
}



.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
}

.progress {
  background-color: rgb(87, 107, 205);
  height: 10px;
  border-radius: 1rem;
}

.selectbtn {
  display: flex;
}


.questionSection {
  margin-top: 50px;
}

.qustionText{
  margin-top: 30px;
}

.answerBtn{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.questionSection {
  margin-top: 20px;
}

.qustionHeader {
  margin-top: 50px;
  color: rgb(87, 107, 205);
}

.qustionText {
  color:rgb(84, 84, 84);
}

button {
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  border: 0px;
  height: 46px;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  width: 100%;
  outline: none;
  font-weight: 700;
}

button:hover {
  background-color: rgb(87, 107, 205);
}
