.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin: auto;
  max-width: 600px;
}


.wrap {
  padding: 0 10px;
}


.nav {

    background: #2884f7;
    color: white;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    padding: 4px 20px 4px;
}


.title {
  margin-top: 100px;
  color: #2884f7;
}

.title2 {
  margin-top: 50px;
  color: #2884f7;
}

.title3 {
  margin-top: 30px;
  color: #2884f7;
}

.pageNumbers {
  flex: none;
  margin: 20, 0, 50px;
  float: right;
  color: #2884f7;
}

.content {
  margin-top: 150px;
  color: rgb(118, 118, 118);
}


.foo {
  margin-top: 50px;
  color: rgb(118, 118, 118);
}


.Q {
  margin-top: 30px;
  color : rgb(118, 118, 118);

}

.inputName {
  margin-top: 10px;
  width: 580px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px rgb(225, 224, 224);
}

.inputName:focus {
  transition: all ease-in 80ms;
  outline: none !important;
  border: solid #2884f7 2px; /* #2884f7 */
}



.content {
  margin-top: 0.95rem;
  color: rgb(84, 84, 84);
}

.content2 {
  margin-top: 30px;
}

.bar {
  margin-top: 10px;
  margin: auto;
  max-width: 600px;
  width: 580px;
  display: flex;
  justify-content: left;
  align-items: left;
}



#btn {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* position: relative;
  left: 85%;
  max-width: 600px; */


}

.end {

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: rgb(201, 201, 201);
  color: white;
  width: auto;
  float: right;

  border: none;
  border-radius: 4px;
}


.end:hover {
  background-color: #2884f7;
}


.startbtn {
  margin: 50px 0 100px;
  position: relative;
  left: 85%;
  max-width: 600px;
}




.start {

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: rgb(201, 201, 201);
  color: white;
  width: auto;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:all 0.9s, color 0.3;

}

.start:hover {
  background-color: #2884f7;
}


.clickedstart {

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: #2884f7;
  color: white;
  width: auto;

  border: none;
  border-radius: 4px;

}

/* .start:hover {
  background-color: #2884f7;
} */




.backbtn {
  margin: 80px 0 100px;
  position: relative;
  max-width: 600px;
}

.back {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* margin: 0; */
  padding: 0.5rem 0.8rem;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  background-color: rgb(201, 201, 201);
  color: white;
  width: auto;

  border: none;
  border-radius: 4px;

}

.back:hover {
  background-color: #2884f7;
}

.label {
  color: rgb(118, 118, 118)
}

.Q2 {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgb(118, 118, 118);
}

.number {
  color: rgb(210, 210, 210);
}



.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
}


.selectbtn {
  display: flex;
}

.qustion {
  margin-top: 50px;
}

.questionSection {
  margin: auto;
  max-width: 600px;
}

.qustionText{
  margin-top: 30px;
}


.btnContainer {
  margin: auto;
  /* float: left; */
  display: flex;
  /* display: inline-block; */
}



.answerBtn {
  border: 1px solid;
  border-color:#2884f7;
  width: 285px;
  height: 48px;
  flex: 1;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: 30px;
  justify-content: center;
  background: white;
  color: #2884f7;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clickedBtn {
  border: 0;
  width: 285px;
  height: 48px;
  flex: 1;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: 30px;
  justify-content: center;
  background: #2884f7;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}


/* .clickedBtn2 {
  border: 1px solid;
  width: 285px;
  height: 48px;
  flex: 1;
  outline: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: 30px;
  justify-content: center;
  background: white;
  color: #acacac;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
} */



.questionSection {
  margin-top: 20px;
}

.qustionNumber {
  margin-top: 50px;
  color: #2884f7;
}

.qustionText {
  color:rgb(84, 84, 84);
}

.select:focus {
  transition: all ease-in 80ms;
  outline: none !important;
  border: solid 1px; /* #2884f7 */
}

/* Button {
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  border: 0px;
  height: 46px;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  width: 100%;
  outline: none;
  font-weight: 700;
}

Button :hover {
  background-color: #2884f7;
} */


.explanation {
  margin-top: 20px;
  /* font-weight: bold; */
  color:#2884f7;
}